{{!< default}}
<div class="container">
    <form method="post" class="row">
        <input type="hidden" name="action" value="topic.create"/>
		
        <div class="form-group">
			<label for="topic-title">Тема вопроса</label>
            <input class="form-control" type="text" id="topic-title" name="title" placeholder="Тема вопроса">
        </div>
		
		<div class="form-group">
			<label for="topic-content">Содержание</label>
			<textarea class="form-control" id="topic-content" name="content" placeholder="Содержание"></textarea>
        </div>

        <input class="btn btn-default" type="submit" value="Сохранить">
    </form>
	
	{{#if data.posts.results.length}}
        <div class="row">
			{{> pagination}}
        </div>
		{{#each data.posts.results}}
			<div class="row">
				<h4>{{title}}</h4>
				<h6>
					{{#if @root.user.isAdmin}}
                        Пользователь {{author.login}}:
					{{/if}}
					{{#date format='DD-MM-YYYY' }}updated{{/date}}
				</h6>
				
				<p>{{content}}</p>
				{{#if @root.user.isAdmin}}
                    <a href="/answer/{{id}}">Ответить</a>
				{{/if}}
				{{#unless @root.user.isAdmin}}
                    <a href="/comment/{{id}}">Комментировать</a>
				{{/unless}}
			</div>
		{{/each}}
        <div class="row">
			{{> pagination}}
        </div>
	{{/if}}
</div>
